.flows.json.backup
[
    {
        "id": "mqtt_in",
        "type": "tab",
        "label": "LPG Gas Detection Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "hivemq_broker",
        "type": "mqtt-broker",
        "name": "HiveMQ Cloud",
        "broker": "d9224a87ae11416ebdfea8fc7ef45621.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "tls_config",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "tls_config",
        "type": "tls-config",
        "name": "HiveMQ TLS",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "mqtt_subscriber",
        "type": "mqtt in",
        "z": "mqtt_in",
        "name": "Subscribe to LPG",
        "topic": "LPG",
        "qos": "0",
        "datatype": "utf8",
        "broker": "hivemq_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "process_message",
                "debug_node"
            ]
        ]
    },
    {
        "id": "process_message",
        "type": "function",
        "z": "mqtt_in",
        "name": "Process Gas Data",
        "func": "// Extract message\nconst message = msg.payload;\n\n// Create processed data\nconst processedData = {\n    message: message,\n    topic: msg.topic,\n    timestamp: new Date().toISOString(),\n    gasDetected: message.toLowerCase().includes('gas') && message.toLowerCase().includes('detected'),\n    severity: message.toLowerCase().includes('detected') ? 'high' : 'normal'\n};\n\nmsg.payload = processedData;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "websocket_out",
                "log_to_file"
            ]
        ]
    },
    {
        "id": "debug_node",
        "type": "debug",
        "z": "mqtt_in",
        "name": "Debug MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 60,
        "wires": []
    },
    {
        "id": "websocket_out",
        "type": "websocket out",
        "z": "mqtt_in",
        "name": "Send to Dashboard",
        "server": "ws_server",
        "client": "",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "ws_server",
        "type": "websocket-listener",
        "path": "/gas-data",
        "wholemsg": "true"
    },
    {
        "id": "log_to_file",
        "type": "file",
        "z": "mqtt_in",
        "name": "Log Messages",
        "filename": "gas_detection_log.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 560,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "http_endpoint",
        "type": "http in",
        "z": "mqtt_in",
        "name": "GET /api/status",
        "url": "/api/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "status_response"
            ]
        ]
    },
    {
        "id": "status_response",
        "type": "function",
        "z": "mqtt_in",
        "name": "Status Response",
        "func": "msg.payload = {\n    status: 'online',\n    service: 'LPG Gas Detection',\n    timestamp: new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 240,
        "wires": [
            [
                "http_response"
            ]
        ]
    },
    {
        "id": "http_response",
        "type": "http response",
        "z": "mqtt_in",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 550,
        "y": 240,
        "wires": []
    }
]
